html{
    overflow-x: hidden;
}
#alogo{
	width: 80px;
	height: 100px;
	top: 0px;
	border-radius: 14px;
}
#scap{
    position: relative;
    height: 60px;
    left:15px;
    bottom: 15px;
}
#slogo{
    position: relative;
    width: 100px;
    right:62px;
    top:30px;
	height: 100px;
	border-radius: 378.5px;
	color: 010101;
}
#input{
    margin-top:17em;
    margin-left:45em;
}
#search{
    padding-left:31em;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }